
<% if current_page.last? %>
  <li class="page-item disabled">
    <span class="page-link">
      Next<i class="bi bi-arrow-right ms-1"></i>
    </span>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to url, class: 'page-link', rel: 'next', remote: remote do %>
      Next<i class="bi bi-arrow-right ms-1"></i>
    <% end %>
  </li>
<% end %>
