
<% if current_page.first? %>
  <li class="page-item disabled">
    <span class="page-link">
      <i class="bi bi-arrow-left me-1"></i>Prev
    </span>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to url, class: 'page-link', rel: 'prev', remote: remote do %>
      <i class="bi bi-arrow-left me-1"></i>Prev
    <% end %>
  </li>
<% end %>
